/TD5/TestEnsembleDeLettres/nbproject/private/
/TD5/TestEnsembleDeLettres/build/
/Test_Perso/Test/nbproject/private/
/Test_Perso/Test/build/
/Test_Perso/MainIdentite/nbproject/private/
/Test_Perso/MainIdentite/build/
/TD2/CorrectionTD2/build/
/TD4/Corrections_Rationnels/build/
/TD7/Correction_Banque&Cinema/Cinemas/build/
/TD8/AnimationChenille/nbproject/private/
/TD8/AnimationChenille/build/
/TD9/CorrectionTp-Chenilles/build/
/TD11/TP_ExceptionsFormesAnimees/build/
/TD12/TP_JDBC/nbproject/private/
/TD12/TP_JDBC/build/
/TD13/WebApplication/nbproject/private/
/TD13/WebApplication/build/
/test/nbproject/private/
/test/build/
/TD7/Banque/nbproject/private/
/Quick Fev/CC_PL2AI_Feb2017_THIERRYE/Reservations/nbproject/private/
/Quick Fev/CC_PL2AI_Feb2017_THIERRYE/Cercles/nbproject/private/
/Quick Fev/CC_PL2AI_Feb2017_THIERRYE/Cercles/dist/
/Quick Fev/CC_PL2AI_Feb2017_THIERRYE/Cercles/build/
/Quick Fev/CC_PL2AI_Feb2017_THIERRYE/RepartitionGroupes/nbproject/private/
/Quick Fev/CC_PL2AI_Feb2017_THIERRYE/RepartitionGroupes/build/
/Quick Fev/CC_PL2AI_Feb2017_THIERRYE/RepartitionGroupes/dist/
/ConsosCafesWeb-master/nbproject/private/
/DateTimeDemo-master/nbproject/private/
/DemoSelect-master/nbproject/private/
/DemoSelect-master/build/
/DemoSelect-master/dist/
/DemoEnvoiMail-master/nbproject/private/